################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0/.playwright/package
/bin/Debug/net8.0
/obj
/InmateImages
/CursorAI.zip
/CursorAI1.zip
